@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .icon {
        @apply h-5 w-5
    }
}

@layer utilities {
    .scrollbar-hidden {
        ::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.playlist_name {
    text-size-adjust: 100% !important;
}

.playlistitem:hover .playlistnum {
    display: none;
}

.playlistitem:hover .playbtn {
    display: block !important;
}

.playlistitem:hover .pausebtn {
    display: block !important;
}
